##
agent-endpoint=self::gs-agent-01
controller-endpoint=self::usp-controller-01
mtp=websocket
host=localhost
port=8183
path=/gs-server

# verify-mode:  Boost asio SSL macros:
# use either SSL_VERIFY_NONE or SSL_VERIFY_PEER, the last 3 options are
#  /// 'ored' with SSL_VERIFY_PEER if they are desired
#  ///   SSL_VERIFY_NONE                 0x00
#  ///   SSL_VERIFY_PEER                 0x01
#  ///   SSL_VERIFY_FAIL_IF_NO_PEER_CERT 0x02
#  ///   SSL_VERIFY_CLIENT_ONCE          0x04
#  ///   SSL_VERIFY_POST_HANDSHAKE       0x08
verify-mode=0x00  
server-cert-path=
client-cert-path=
private-key-path=

