##
agent-endpoint=self::gs-agent-01
controller-endpoint=self::usp-controller-01
mtp=websocket
host=0.0.0.0
port=8183
ws_path=/gs-server

# verify-mode:  Boost asio SSL macros:
# use either SSL_VERIFY_NONE or SSL_VERIFY_PEER, the last 3 options are
#  /// 'ored' with SSL_VERIFY_PEER if they are desired
#  ///   SSL_VERIFY_NONE                 0x00
#  ///   SSL_VERIFY_PEER                 0x01
#  ///   SSL_VERIFY_FAIL_IF_NO_PEER_CERT 0x02
#  ///   SSL_VERIFY_CLIENT_ONCE          0x04
#  ///   SSL_VERIFY_POST_HANDSHAKE       0x08
verify-mode=0x03  
server-cert-path=server-cert.pem
server-key-path=server-key.pem
client-cert-path=client-cert.pem

